In [1]:
print("My name is Gaurav")

My name is Gaurav

In [2]:
print('My name is Gaurav')

My name is Gaurav

#### Basic Maths in Python

In [11]:
print(5+6) # Sum
print(10/5) #Division
print(19/3) # Division with decimals
print(3**2) # exponential
print("gaurav"*2) #duplications
print(10%3) #remainder
print(round(19/3,2)) #rounding

11
2.0
6.333333333333333
9
gauravgaurav
1
6.33

In [12]:
#using variables in the print statements
name="Gaurav"
age="32"
print("My name is ",name," and my age is ",age);

My name is  Gaurav  and my age is  32

In [28]:
#Python way of merging
name="Gaurav"
age="32"
msg="{} is my name and {} is the age".format(name,age)
print(msg)

Gaurav is my name and 32 is the age

#### find the data type of the variables

In [17]:
#string
name="Gaurav"
print(type(name))

#integer
id=343
print((id))

#float
salary=10009.344
print(type(salary))

#boolean
is_active=True
print(type(is_active))

<class 'str'>
343
<class 'float'>
<class 'bool'>

In [27]:
# type conversion 
savings = 100
result = 100 * 1.10 ** 7

#fix the printout ,but that will not work because the 
#print("I Started with $"+ savings + "and now have $" +  result + ".Awsome!")

print("I Started with $"+ str(savings) + "and now have $" +  str(result) + ".Awsome!")

I Started with $100and now have $194.87171000000012.Awsome!

#### Python string manipulation examples

In [26]:
#string to upper case
name = "gaurav"
print(name.capitalize()) #Capitalize s # 'hello' => 'Hello'

name="GAURAV"
print(name.lower()) #Lowercase s # 'HELLO' => 'hello'

name="gaurav"
print(name.upper()) #Uppercase s # 'hello' => 'HELLO'

name="GaUrAv"
print(name.swapcase()) #Swap cases of all characters in s # 'Hello' => "hELLO"

name="gaurav"
print(name.title()) #Titlecase s # 'hello world' => 'Hello World'

Gaurav
gaurav
GAURAV
gAuRaV
Gaurav

In [37]:
#print smallest character in the string
name="crdb"
print(min(name))

name="5678"
print(min(name))

#conclusion number is evaluted first over the characters
name="1a2b3c"
print(min(name))

b
5
1

In [35]:
#print the largest character
name="crdb"
print(max(name))

name="5678"
print(max(name))


name="1a2b3c"
print(max(name))

r
8
c

In [39]:
#print length of the string 
print(len("gaurav soni is mad"))

18

#### strip the whitespaces & characters  from the string

In [69]:
name=" GAURAV "# note that there are spaces before and after the name 
print("Before the strip command ",name) #before 
print("After the strip command ",name.strip()) # after

print(name.lstrip()) # removing the left space
print(name.rstrip()) # removing the right space


#since nothing is given ,which means space are removed 

name="$$$GAURAV$$$"
print(name.strip("$"))

print(name.lstrip("$"))
print(name.rstrip("$"))

#Left fill s with ASCII '0' digits with total length width # '42' => '00042'
print(name.zfill(100))

Before the strip command   GAURAV
After the strip command  GAURAV
GAURAV
 GAURAV
GAURAV
GAURAV$$$
$$$GAURAV
0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000$$$GAURAV$$$

#### check if the string is lower or upper ?

In [55]:
name="gaurav"
surname="SONI"

print(name.islower())
print(surname.islower())

print(name.isupper())
print(surname.isupper())

True
False
False
True

#### find and replace

In [63]:
name="My name is Gaurav Soni"
search_word="Gaurav"

#search the index of the search word first occurence
print(name.index(search_word))

# raised error if the search word is not found
search_word1="Gaurav1"
#print(name.find(search_word1))

name = "My name is Gaurav Soni ,but people calls me Gaurav"

#search the first occurence after 12th index and before 100th index
print(name.index(search_word,12,100))


#replace search word with replace word
replace_word="Richa"
print(name.replace(search_word,replace_word))

11
44
My name is Richa Soni ,but people calls me Richa

#### String manipulation SLICING

In [84]:
#Please assume string as an Arrray of Characters where index starts from ZERO
# STRING SLICING.

name="GAURAV SONI"
print(name)
print(name[0]) # this will give character at index 0
print(name[0:]) # this will give character from index 0 till max index
print(name[0:6]) # this will give characters from index 0 to 6
print(name[:6])# this will give characters till index 6
print(name[-1]) # this will give last index 
print(name[2:-2])

GAURAV SONI
G
GAURAV SONI
GAURAV
GAURAV
I
URAV SO

In [88]:
#Loops
for i in range(5):
    print(i,end=',')# a keyword called 'end' is used to specify delimiter b/w
                  #values  default is \n i replaced it with blank('')

0,1,2,3,4,

In [89]:
#while
meter=1
while(meter<=10):
    print(meter)
    meter+=1

1
2
3
4
5
6
7
8
9
10

In [90]:
#program to Accept 3 Numbers and add them
total=0

for i in range(5):
    num=int(input("Enter number \n"))
    total+=num
    
print("The sum of number inputted by you is ",total)

Enter number
1
Enter number
2
Enter number
3
Enter number
4
Enter number
5
The sum of number inputted by you is  15