### Python comes with four built in data structures
- List It is denoted by Square Brackes [] 
- Tuple is denoted by small Brackets()
- Dictionary is denoted by curly Brackets{a:1,}
- Set is denoted by curly Brackets {,}

https://clouds.eos.ubc.ca/~phil/courses/eosc582/pdffiles/Python-data-manipulations.pdf

#### ORDERED DATA STRUCTURES

##### Lists
- Mutable - We can change list anytime by adding or removing or chaning the objects
- Ordered series
- Traditionally of the same type of object.
- Advantages: Mutable and ordered. Easy to understand. Relatively efficient memory usage.
- Disadvantages: Searching is O(n).

In [219]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas=[hall, kit, liv, bed, bath]

# Print areas
print(areas)
print(type(areas))

[11.25, 18.0, 20.0, 10.75, 9.5]
<class 'list'>

In [220]:
# A list in python is similar to the notion of an array in other programming langauge
# There is no need to predeclare size of the list , it can grow and shrink dynamically 
# List is Hetrogeneous - Means we need not to declare the types of the objects we are storing
# List is enclosed by Square Brackets ,and seperated by comma's

In [221]:
#Create an empty list 
prices = []

In [222]:
#list of temperatures
temps = [32.0, 12.90, 45.34, 32.09, 23.10]

print(temps)

[32.0, 12.9, 45.34, 32.09, 23.1]

In [223]:
#list of words
words = ['Gaurav','Richa','Shishir','Tanisha','Sovan']
print(words)
print(len(words))

['Gaurav', 'Richa', 'Shishir', 'Tanisha', 'Sovan']
5

In [224]:
#list of different objects
car_details = ["Polo",1.2,5000,"Hachback"]
print(car_details)

['Polo', 1.2, 5000, 'Hachback']

In [225]:
#everything is objects in the list , hence we can create a list of list 
everything = [prices, temps, words, car_details]
print(everything)

[[], [32.0, 12.9, 45.34, 32.09, 23.1], ['Gaurav', 'Richa', 'Shishir', 'Tanisha', 'Sovan'], ['Polo', 1.2, 5000, 'Hachback']]

In [226]:
#working with list

In [227]:
vowels = ['a', 'e', 'i','o', 'u'] 
word = "Gaurav"

#write a code to print vowels 
for vowel in vowels:
    if vowel in word:
        print(vowel)

a
u

In [228]:
#Growing the list at runtime
found = []
print(len(found))

#append in ordered way
found.append('1')
print(len(found))

found.append('2')
found.append('3')
found.append('4')
found

0
1

['1', '2', '3', '4']

In [229]:
#check whether a values exist in the list or not

if '9' in found:
    print("yes")
else:
    found.append('9')

    
if '9' not in found:
    found.append('9')    
else:
    print("no")
    
found

no

['1', '2', '3', '4', '9']

In [230]:
#update the code 
vowels = ['a', 'e', 'i','o', 'u'] 
word = "Gaurav Soni"
found=[]
#write a code to print vowels 
for vowel in vowels:
    if vowel in word:
        if vowel not in found:
            found.append(vowel)

found

['a', 'i', 'o', 'u']

##### removing elements from the list
- remove
- pop
- extend
- insert

In [231]:
# Remove - Takes an objects value as its sole argument TAKES ACTUAL VALUE AS INPUT
nums = [1,2,3,4,5,5,6]
nums.remove(5) #it removes the first occurence of the 5 
nums

[1, 2, 3, 4, 5, 6]

In [232]:
#pop - Takes an optional index value as argument TAKES INDEX AS INPUT
nums = [1,2,3,4,5,5,6]
print(nums.pop()) #by default it removes the last object from the list and return the value
print(nums)

print(nums.pop(0))
#print(nums.pop(100)) # throws errros

6
[1, 2, 3, 4, 5, 5]
1

In [233]:
#Extend a list with Objects - Takes a list of objects as its sole arguments
nums_extended=[1,3]
nums_extended.extend(nums)
nums_extended

[1, 3, 2, 3, 4, 5, 5]

In [234]:
#Insert an object into a list - TAkes an index value and an object as its argument
nums.insert(0,1) #here 0 is index and 1 is the value
nums

nums.insert(4,99)
nums

[1, 2, 3, 4, 99, 5, 5]

In [235]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [236]:
#Copying of the List 
first = [1,2,3,4,5]
print(id(first),first)

second = first # avoid using this operator ,otherwise it will change the first we change second
print(second) # seems like I have a second copy YAyyy

#lets change the second list
second.append(7)
print(id(second),second)
print(first) # whops why this is been changes , I though second is copy of the first

#seems like second and first both points to the same data ,which is not GOOD

4380128520 [1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
4380128520 [1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 7]

In [237]:
# how to create an individual copy 
third = second.copy()
print(id(third),third)


#this seems to be fine ,lets change third and print all of them again ,hope for the best 
third.append(9)
print(id(third),third)   #NICEEEEEEE
print(id(second),second)
print(id(first),first)

4379837832 [1, 2, 3, 4, 5, 7]
4379837832 [1, 2, 3, 4, 5, 7, 9]
4380128520 [1, 2, 3, 4, 5, 7]
4380128520 [1, 2, 3, 4, 5, 7]

In [238]:
msg=list('Gauarav is a bad guy!')
print(msg[0])
print(msg[-1])
print(msg[1:])
print(msg[-12:-1])
print(msg[-1:-12]) #remember this wont work......read before exam
print(msg[:]) #this will return the full string
print(msg[:-12]) # 0 index to -12 index 
print(msg[-12:]) # -12 to last index
#print(msg[-123]) # should fail

str = "Don't panic"
print(str[1:3]) #see it prints from second to 3-1 = 2 ,it dint print the 'in the output

G
!
['a', 'u', 'a', 'r', 'a', 'v', ' ', 'i', 's', ' ', 'a', ' ', 'b', 'a', 'd', ' ', 'g', 'u', 'y', '!']
['s', ' ', 'a', ' ', 'b', 'a', 'd', ' ', 'g', 'u', 'y']
[]
['G', 'a', 'u', 'a', 'r', 'a', 'v', ' ', 'i', 's', ' ', 'a', ' ', 'b', 'a', 'd', ' ', 'g', 'u', 'y', '!']
['G', 'a', 'u', 'a', 'r', 'a', 'v', ' ', 'i']
['s', ' ', 'a', ' ', 'b', 'a', 'd', ' ', 'g', 'u', 'y', '!']
on

###### LIST[START:STOP:STEP]
- START lets control WHERE the range begins,default is 0
- STOP lets control WHEN the range ends ,default is last index
- STEP lets control HOW the range is generated ,default is 1

In [239]:
msg=list('Gaurav is a bad guy!')

print(msg[0:5:2])
print(msg[::2])# start to end with skipping 2 records 
print(msg[-12::2])
print(msg[-1:-10:2])#no output
print(msg[::])
print(msg[::-1]) # this is interesting ,this prints list in reverse order
print(msg[-20:-1:-1]) #dint make sense
print(msg[-10:-1:1])
print(msg[6:0:-1]) #print string in reverse order ,remember the start is always greater in the this case when steps is negative

['G', 'u', 'a']
['G', 'u', 'a', ' ', 's', 'a', 'b', 'd', 'g', 'y']
['s', 'a', 'b', 'd', 'g', 'y']
[]
['G', 'a', 'u', 'r', 'a', 'v', ' ', 'i', 's', ' ', 'a', ' ', 'b', 'a', 'd', ' ', 'g', 'u', 'y', '!']
['!', 'y', 'u', 'g', ' ', 'd', 'a', 'b', ' ', 'a', ' ', 's', 'i', ' ', 'v', 'a', 'r', 'u', 'a', 'G']
[]
['a', ' ', 'b', 'a', 'd', ' ', 'g', 'u', 'y']
[' ', 'v', 'a', 'r', 'u', 'a']

In [240]:
#how to join two list 
list1='Gaurav is a bad guy!'
list2 = list(list1) # wow converting a string to a list 
print(list2)
#the below operation work in iteration and 1 is been joined with every element in the list 
print("1".join(list2))

['G', 'a', 'u', 'r', 'a', 'v', ' ', 'i', 's', ' ', 'a', ' ', 'b', 'a', 'd', ' ', 'g', 'u', 'y', '!']
G1a1u1r1a1v1 1i1s1 1a1 1b1a1d1 1g1u1y1!

In [241]:
# for loops in the list 
statement = "Who will win the Elections in 2019?"
statetment_list = list(statement)
for letter in statetment_list:
    print(letter)

W
h
o

w
i
l
l

w
i
n

t
h
e

E
l
e
c
t
i
o
n
s

i
n

2
0
1
9
?

In [242]:
# for loops understands slicing in the list
statement = "Narendra Modi or Rahul Gandhi"
statetment_list = list(statement)
for letter in statetment_list[:13]:
    print(letter)
for letter in statetment_list[-13::1]:
    print(letter)

N
a
r
e
n
d
r
a

M
o
d
i

R
a
h
u
l

G
a
n
d
h
i

In [243]:
#create a list by using split method ,by default it will split based on space
a_sentence = "Hi Saif, this is to inform you that I'm not well today."
words_in_sentence = a_sentence.split() # by default this is been spliited based on the space
print(words_in_sentence)
print(type(words_in_sentence))

['Hi', 'Saif,', 'this', 'is', 'to', 'inform', 'you', 'that', "I'm", 'not', 'well', 'today.']
<class 'list'>

In [244]:
#create a list by using split method ,by default it will split based on dot
a_mail = "Hi Saif, this is to inform you that I'm not well today. I won't be coming to office, but I'm available on call. Thanks."
words_in_mail = a_mail.split('.') # splitted based on dot
print(words_in_mail)
print(type(words_in_mail))

["Hi Saif, this is to inform you that I'm not well today", " I won't be coming to office, but I'm available on call", ' Thanks', '']
<class 'list'>

In [245]:
# EXERCISES

In [246]:
input_list = ['SAS','R','PYTHON','SPSS']
# remove SPSS and add SPARK
print(input_list)
input_list.remove('SPSS')
print(input_list)
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON', 'SPSS']
['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

In [247]:
# STRING TO LIST CONVERSION 
#Convert a string input_str = 'I love Data Science & Python' to a list by splitting it on ‘&’. 
#The sample output for this string will be:

input_str = 'I love Data Science & Python'
input_list = input_str.split('&')
print(input_list)

['I love Data Science ', ' Python']

In [248]:
#LIST TO STRING CONVERSION
input_list= ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
print(' & '.join(input_list))

Pythons syntax is easy to learn & Pythons syntax is very clear

In [249]:
# Extract Python from a nested list input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
print(input_list[2][0])

Python

In [250]:
#list CASTING
print(input_list)
input_list[:]=[]
print(input_list) 
input_list[1:]=[]
print(input_list)

[['SAS', 'R'], ['Tableau', 'SQL'], ['Python', 'Java']]
[]
[]

In [316]:
myList = [0] * 6
myList

[0, 0, 0, 0, 0, 0]

In [ ]:
 myList*2

In [252]:
myList = [1,2,3,4]
A = [myList]*3
print(A)
myList[2]=45
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 45, 4], [1, 2, 45, 4], [1, 2, 45, 4]]

| Method Name | Use | Explanation |
|----|---|
| append | alist.append(item) | Adds a new item to the end of a list |
| insert	| alist.insert(i,item) |	Inserts an item at the ith position in a list |
|pop	|alist.pop()	|Removes and returns the last item in a list|
|pop|	alist.pop(i)|	Removes and returns the ith item in a list|
|sort|	alist.sort()|	Modifies a list to be sorted|
|reverse|	alist.reverse()|	Modifies a list to be in reverse order|
|del|	del alist[i]|	Deletes the item in the ith position|
|index|	alist.index(item)|	Returns the index of the first occurrence of item|
|count|	alist.count(item)|	Returns the number of occurrences of item|
|remove|	alist.remove(item)|	Removes the first occurrence of item|

In [253]:
myList = [1,22,3,4,0,43,-1,73,2]
myList.sort() # By Default ascending order
print(myList)

[-1, 0, 1, 2, 3, 4, 22, 43, 73]

In [254]:
myList = [1,22,3,4,0,43,-1,73,2]
myList.sort(reverse=True) # descending order
print(myList)

[73, 43, 22, 4, 3, 2, 1, 0, -1]

In [255]:
myList = [1,22,3,4,0,43,-1,73,2]
myList.reverse()
print(myList)

[2, 73, -1, 43, 0, 4, 3, 22, 1]

In [256]:
myList = [1024, 3, True, 6.5]
myList.append(False)
print(myList)
myList.insert(2,4.5)
print(myList)
print(myList.pop())
print(myList)
print(myList.pop(1))
print(myList)
myList.pop(2)
print(myList)
myList.sort()
print(myList)
myList.reverse()
print(myList)
print(myList.count(6.5)) # count of 6.5 in the list
print(myList.index(4.5)) # return first occurence of 4.5
myList.remove(6.5) # remove first occurence of 6.5
print(myList)
del myList[0] 
print(myList)

[1024, 3, True, 6.5, False]
[1024, 3, 4.5, True, 6.5, False]
False
[1024, 3, 4.5, True, 6.5]
3
[1024, 4.5, True, 6.5]
[1024, 4.5, 6.5]
[4.5, 6.5, 1024]
[1024, 6.5, 4.5]
1
2
[1024, 4.5]
[4.5]

In [257]:
#remove all occurence of 2 from the list
x = [1,2,3,2,2,2,3,4]
list(filter(lambda a: a != 2, x))

[1, 3, 3, 4]

#### Operation Name	Operator	Explanation
- indexing	[ ]	Access an element of a sequence
- concatenation	+	Combine sequences together
- repetition	*	Concatenate a repeated number of times
- membership	in	Ask whether an item is in a sequence
- length	len	Ask the number of items in the sequence
- slicing	[ : ]	Extract a part of a sequence

In [258]:
#program to check list is empty or now
l = []
if not l:
  print("List is empty")

List is empty

In [259]:
#Iterate over sorted list
x = [1,2,3,2,2,2,3,4]
for i in sorted(x):
    print(i)

1
2
2
2
2
3
3
4

**Q. Given the list num_range, try printing:**  
    a. Odd numbers  
    b. Even numbers  
    c. Numbers divisible by 3  
    
**Hint:** Try using the step-size after the end slice index

In [260]:
list_of_num= list(range(1,100))
list_of_num[::2]##list_of_num_odd
list_of_num[1::2]##list_of_num_even
list_of_num[2::3]##list_of_num_even

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

Q. Find the maximum, minimum and length from the list **num_range**.  
**Hint:** Use max(), min() and len() respectively.

In [261]:
print(max(list_of_num))
print(min(list_of_num))

99
1

In [262]:
names = ['Earth','Air','Fire','Water']
print(max(names, key=len)) #based on the length of the name 
print(min(names, key=len))

Earth
Air

In [263]:
test_string = 'I will now convert this to a list of words'
print(test_string.split())

['I', 'will', 'now', 'convert', 'this', 'to', 'a', 'list', 'of', 'words']

##### Tuples
- Immutable means once we assign objects to a tuple ,the tuple cannot be changed under any circumstance.
- Ordered series 
- Traditionally containing different objects
- Advantages: Immutable and ordered. Relatively efficient memory usage (more than lists). 
- Disadvantages: Searching is O(n). Hard to understand for many Python newcomers.

In [264]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [265]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(id(city_tuple),city_tuple)

4378975472 ('Mumbai', 18.9949521, 72.8141853)

In [266]:
new_tuple = city_tuple
print(id(new_tuple),new_tuple)

4378975472 ('Mumbai', 18.9949521, 72.8141853)

In [267]:
#'tuple' object does not support item assignment means we cannot change value in tupple
#new_tuple[1] = 13.8877

In [268]:
b = city_tuple[:40000]
print(b) #remeber this is not throwing error
print(len(b))

('Mumbai', 18.9949521, 72.8141853)
3

In [269]:
b = city_tuple[:-1]
print(b) #remeber this is not throwing error
print(len(b))

('Mumbai', 18.9949521)
2

In [270]:
c = list(b)
print("c is: {0}".format(c))
c= tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)

In [271]:
t = ('a', 1, [1,2,3]) 
t = ('a')
print(type(t)) # if comma is not provided the data type will be string of t
t = ('a',)
print(type(t))

<class 'str'>
<class 'tuple'>

In [272]:
#Iterate over sorted tuple
x = tuple([1,2,3,2,2,2,3,4])
for i in sorted(x):
    print(i)

1
2
2
2
2
3
3
4

In [273]:
#a tuple can contain mutable objects like list 
t=(1,2,3,[1,2,3,4])
print(type(t),t)

<class 'tuple'> (1, 2, 3, [1, 2, 3, 4])

In [274]:
example = ("Mumbai","Chennai","Delhi","Kolkatta","Mumbai","Bangalore")
print(example.count("Mumbai"))

print(example.index("Delhi"))

2
2

#### UNORDERED DATA STRUCTURES

##### Dictionary 
- Mutable
- Unordered pairs (keys and values) of objects. Keys must be hashable.
- Advantages: O(1) searching for keys. Makes it easy to create trees and other hierarchical data structures. Can be used to create self-documenting code. Many problems can be de- scribed in terms of key-value pairs.
- Disadvantages: Only lookup by key. Uses more memory than lists and tuples. Keys must be hashable.

In [275]:
person={'Name':'Gaurav','Age':25,'Country':'India'}
print(type(person),person)

<class 'dict'> {'Name': 'Gaurav', 'Age': 25, 'Country': 'India'}

In [276]:
#dictionary understands square brackets ,based on the key it returns value
print(person['Name'])
print(person['Age'])

Gaurav
25

In [277]:
#change the age of the person
person['Age']=32
print(person)

{'Name': 'Gaurav', 'Age': 32, 'Country': 'India'}

In [278]:
#again write code for the vowels
vowels=list('aeiou')
found={'a':0,'e':0,'i':0,'o':0,'u':0}
name="gaurav"
print(vowels)
for char in name:
    if char in vowels:
        found[char] += 1
print(found)

['a', 'e', 'i', 'o', 'u']
{'a': 2, 'e': 0, 'i': 0, 'o': 0, 'u': 1}

In [279]:
#looping over the dictionary
for key in found:
    print(key,found[key]) # this is  printing the key and its value

a 2
e 0
i 0
o 0
u 1

In [280]:
#looping over the sorted keys
for key in sorted(found):
    print(key,found[key])

a 2
e 0
i 0
o 0
u 1

In [281]:
#looping over the dictionary items
for key,value in sorted(person.items()):
    print(key,value)

Age 32
Country India
Name Gaurav

In [282]:
#we can get key and value both in the same loop
for key,value in person.items():
    print(key,value)

Name Gaurav
Age 32
Country India

In [283]:
#Running this example again to show initialization of the dictionary before using it
# here we have used IN operator ,but not it operator can be used
vowels=list('aeiou')
found={}
name="gaurav"
print(vowels)
for char in name:
    if char in vowels:
        if char in found:
            found[char] += 1
        else:
            found[char] =1
print(found)

['a', 'e', 'i', 'o', 'u']
{'a': 2, 'u': 1}

In [284]:
#Running this example again to show initialization of the dictionary before using it
# here we have used setdefault method which initialize the dictionary with zero
vowels=list('aeiou')
found={}
name="gaurav"
print(vowels)
for char in name:
    if char in vowels:
        found.setdefault(char,0)
        found[char] +=1
        
print(found)

['a', 'e', 'i', 'o', 'u']
{'a': 2, 'u': 1}

In [285]:
bio_data = {'Name': 'Bob Marley', 'Age':35, 'Height':"5.6 ft", 'Hobby': 'Music'}
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}

In [286]:
print(bio_data.get('Name'))
print(bio_data.get('Age'))
print(bio_data.get('Height'))
print(bio_data.get('Occupation'))
print(bio_data.get('Occupation','Not Exists')) # if the key does not exists ,then use a fallback

Bob Marley
35
5.6 ft
None
Not Exists

In [287]:
#convert the dictonary keys into list of keys
list(bio_data.keys())

['Name', 'Age', 'Height', 'Hobby']

In [288]:
#convert the dictonary value into list 
list(bio_data.values())

['Bob Marley', 35, '5.6 ft', 'Music']

In [289]:
#convert the dictonary items into list 
 #inside the dictionary we have tuples
list(bio_data.items())

[('Name', 'Bob Marley'), ('Age', 35), ('Height', '5.6 ft'), ('Hobby', 'Music')]

In [290]:
#another way of creating a dictionary 
new_dictionary = dict(Country='Jamaica', Songs=['One Love','Misty Morning'])
print(new_dictionary)

{'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [291]:
#dictionary is mutable and updates add items to the dict
print(bio_data)
bio_data.update(new_dictionary)
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music'}
{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [292]:
del bio_data['Songs']
print(bio_data)

{'Name': 'Bob Marley', 'Age': 35, 'Height': '5.6 ft', 'Hobby': 'Music', 'Country': 'Jamaica'}

In [293]:
students_data = { 1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27]}

In [294]:
print(len(students_data))

5

In [295]:
students_data[6] = ['Manasi Sharma', 22]
print(students_data)

{1: ['Shivam Bansal', 24], 2: ['Udit Bansal', 25], 3: ['Sonam Gupta', 26], 4: ['Saif Ansari', 24], 5: ['Huzefa Calcuttawala', 27], 6: ['Manasi Sharma', 22]}

In [296]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
input_dict.get('Label','NA')

'NA'

In [297]:
company_ceo={'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}
print(company_ceo.get('Tim Cook'))

Apple

In [298]:
#created a sorted list of values from the dictionay
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
sorted(list(input_dict.values()))

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [299]:
print(help(dict))

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if D has a key k, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Returns a new dict with keys from iterable and values equal to value.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

None

##### Set
- A data struture that avoids Duplicate
- Mutable
- Unordered
- Unique objects. Elements must be hashable. 
- Advantages: Searching is O(1). Lots of useful methods.
- Disadvantages: Not ordered. Elements must be hashable.

In [300]:
students_list = ['A','A','B','C','C','E','N']

In [301]:
students_set = set(students_list)
print(type(students_set),students_set)

<class 'set'> {'A', 'E', 'C', 'N', 'B'}

In [302]:
students_list_2 = ['A','N','F','N','G','A']

In [303]:
students_set_2 = set(students_list_2)

In [304]:
print(students_set.intersection(students_set_2))

{'N', 'A'}

In [305]:
print(students_set.union(students_set_2))

{'F', 'C', 'N', 'G', 'A', 'E', 'B'}

In [306]:
 print(students_set.difference(students_set_2))

{'C', 'B', 'E'}

Set_diff
Description
Find the difference, using difference and symmetric_difference, between two given lists - list1 and list2.

First, convert the lists into sets and store them as set_1 and set_2. Then store the difference and symmetric difference in answer_1 and answer_2 respectively. Print both the answers as sorted lists, i.e. convert the final sets to lists, sort it and then return it.

In [307]:
master_list =[[1,2,3,4,5,6],[2,3,4,5,6,7,8,9]]
list1=master_list[0]
list2=master_list[1]
set_1=set(list1)
set_2=set(list2)
print(set_1)
print(set_2)
answer_1=sorted(set_1.difference(set_2)) # return list
answer_2=sorted(set_1.symmetric_difference(set_2)) # return list
print(type(answer_1),answer_1)
print(type(answer_2),answer_2)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 5, 6, 7, 8, 9}
<class 'list'> [1]
<class 'list'> [1, 7, 8, 9]

In [308]:
print(help(set))

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

None

In [309]:
new_set={1,1,3,4}
print(new_set)

{1, 3, 4}


| Method Name | Use | Explanation |
|----|---|
| union | aset.union(otherset) | Returns a new set with all elements from both sets |
| intersection	| aset.intersection(otherset) |	Returns a new set with only those elements common to both sets |
|difference	|aset.difference(otherset)	|Returns a new set with all items from first set not in second|
|issubset|	aset.issubset(otherset)|		Asks whether all elements of one set are in the other|
|add|	aset.add(item)|	Adds item to the set|
|remove|	aset.remove(item)|	Removes item from the set|
|pop|	aset.pop()|	Removes an arbitrary element from the set|
|clear|	aset.clear()|	Removes all elements from the set|

In [310]:
list_with_duplicates = ['A','B','A','C','D','C','C','B']
print(set(list_with_duplicates))

{'C', 'B', 'D', 'A'}

In [311]:
list_with_duplicates = ['A','B','A','C','D','C','C','B']
print(list(set(list_with_duplicates)))

['C', 'B', 'D', 'A']

In [312]:
# add a value in the set 
set1=set([1,2,3,4])
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [313]:
#remove element ftrom set
set1.remove(3)
print(set1)

{1, 2, 4, 5}

In [315]:
 #set1**2

TypeError: unsupported operand type(s) for ** or pow(): 'set' and 'int'