##### IF ELSE

In [1]:
score = int(input("Enter your test score : "))
passing = 40
distinction = 90

Enter your test score : 10

In [2]:
if score >= distinction:
    print("You're at the top! Youâ€™ve earned a distinction!")

if score >= passing and score < distinction:
    print("You have passed!")

if score < passing:
    print("Sorry! You have failed")

Sorry! You have failed

In [3]:
if score==100:
    print("Perfect")
elif  90<=score<100:
    print("Distinction")
elif 65<=score<90:
    print("First Class")
elif 40<=score<65:
    print("Second Class")
else:
    print("Failed")

Failed

In [4]:
statement = "The coffee is bad"
if 'bad' in statement:
    print("Bad review!")

statement2 = "This phone works great"
if 'bad' in statement2:
    print("This is not a bad review")

Bad review!

In [5]:
num = int(input("Enter a number: "))
#enter 24
if num%2==0:
    print("Even")
    if num%4==0:
        print("divisible by 4")
    else:
        print("Not divisible by 4")
else:
    print("Odd")
    if num%3==0:
        print("Divisible by 3")
    else:
        print("Not divisible by 3")

Enter a number: 90
Even
Not divisible by 4

In [6]:
if None:
    print("Is True")
else:
    print("Is False")

Is False

If-Else
Description
Write a code to check if the string in input_str starts with a vowel or not. Print capital YES  or NO.

For example, if input_str = 'analytics' then, your output should print 'YES'.

In [13]:
input_str = 'analytics'
if input_str[0] in list('a e i o u'.split()):
    print('YES')
else:
    print('NO')

YES

##### For Loop

In [14]:
#prinnt 1 to 5-1
for i in range(1,5):
    print(i)

1
2
3
4

In [16]:
#print 1 to 10 with steps of 2
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [17]:
#Looping on a string

my_string = "Mary had a little lamb"

for alphabet in my_string:
    print(alphabet)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

#pattern to print-

*
* *
* * *
* * * * 
* * * * *
* * * *
* * *
* *
*

In [39]:
str1=''
for i in range(0,9):
    if i<5:
        str1 += '* '
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [48]:
my_string = "Mary had a little lamb"
#give a sequence to the string
for n,alphabet in enumerate(my_string):
    print(alphabet, n)

M 0
a 1
r 2
y 3
  4
h 5
a 6
d 7
  8
a 9
  10
l 11
i 12
t 13
t 14
l 15
e 16
  17
l 18
a 19
m 20
b 21

In [49]:
print(help(enumerate))

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable[, start]) -> iterator for index, value of iterable
 |
 |  Return an enumerate object.  iterable must be another object that supports
 |  iteration.  The enumerate object yields pairs containing a count (from
 |  start, which defaults to zero) and a value yielded by the iterable argument.
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

None

In [50]:
vowels =''
for alphabet in my_string:
    if alphabet in 'aeiou':
        vowels += ' ' + alphabet
print(vowels)

 a a a i e a

In [53]:
nums = '838848237890237388221'
num_even=''
num_odd=''
for num in nums:
    if int(num)%2 == 0:
        num_even=num_even+num
    else:
        num_odd=num_odd+num
print(num_even)
print(num_odd)

8884828028822
33793731

In [54]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple','Banana','Mango','Orange','Strawberry']
vegetables = ['Potato', 'Onion','Cucumber', 'Celery']

In [57]:
count_of_fruit=0
count_of_veg=0
for item in list_of_inventories:
    if item in fruits:
        count_of_fruit = count_of_fruit+1
    elif item in vegetables:
        count_of_veg = count_of_veg+1
    
print(count_of_fruit,count_of_veg)

3 2

In [58]:
sentence = "Is Python simpler than R ?"
for word in sentence.split():
    print(word)

Is
Python
simpler
than
R
?

In [59]:
#sentence check
tweet = '#beautiful #morning it is looking good'

for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])

beautiful
morning

In [60]:
#while loop
start =20
total= 0
while start<51:
    total+=start
    start+=1
    print(start)

print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
1085

##### Comprehensions
- List comprehensions provide a concise way to create lists. 
- It consists of brackets containing an expression followed by a for clause, then  zero or more for or if clauses. The expressions can be anything, meaning you can put in all kinds of objects in lists.

- list_name = [expression for loop ]

- [<the_expression> for <the_element> in <the_iterable> if <the_condition>]

In [63]:
#this is normal way of creating a square of number from 1 to 10
squares_list= []

for x in range(1,10):
    squares_list.append(x**2)
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
squares_list = [x**2 for x in range(1,10)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]

In [66]:
single_word_list =[]

for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [68]:
single_word_list =[word for sentence in paragraph for word in sentence.split()]
print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [69]:
#list comp with if statement
vowels = ['a','e','i','o','u']
vowels_from_sentence =[]
for sentence in paragraph:
    for word in sentence.split():
        if word[0].lower() in vowels:
            vowels_from_sentence.append(word)

print(vowels_from_sentence)

['a', 'It', 'in', 'It']

In [71]:
vowels_from_sentence = [word for sentence in paragraph for word in sentence.split() if word[0].lower() in vowels]
print(vowels_from_sentence)

['a', 'It', 'in', 'It']

In [74]:
# dictionary comprehensions
squared_dictionary = {num : num**2 for num in range(0, 25)}
print(type(squared_dictionary),squared_dictionary)

<class 'dict'> {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576}

In [84]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [79]:
names_dict ={}

#iterate over each key, val pair
for roll_num,details in students_data.items():
    if roll_num%2==0:
        names_dict[roll_num]= details[0]
print(names_dict)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

In [86]:
names_dict={roll_num:details[0] for roll_num,details in students_data.items() if roll_num%2==0 }
print(names_dict)

{2: 'Udit Bansal', 4: 'Saif Ansari'}

- Creating a List Comprehension
- Description
- You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list. 

- For example, if the input is 4, the output should be a list as follows: [1, 4, 9, 16]

In [90]:
input_number = int(input("Ã‹nter the number "))
input_list = [i**2 for i in range(1,input_number+1)]
print(input_list)

Ã‹nter the number 5
[1, 4, 9, 16, 25]

- Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.

In [91]:
input_list=['wood', 'old', 'apple', 'big', 'item', 'euphoria']
vowel_list = [word for word in input_list if word[0].lower() in 'aeiou']
print(vowel_list)

['old', 'apple', 'item', 'euphoria']

In [92]:
list1=[]
for n in range(1,11): 
    list1.append(n*6) 
print(list1)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [93]:
list1 = [n*6 for n in range(1,11) ]
print(list1)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [99]:
list1 =[] 
for n in range(1,11):
    if n%2==0:
        list1.append(n*6)
    else:
        list1.append(n*5)
print(list1)

[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

[<the_expression> if <the_condition> else <other_expression> for <the_element> in <the_iterable>]

In [98]:
list1 =[n*6 if n%2==0  else n*5 for n in range(1,11) ]
print(list1)

[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

In [100]:
#Applyingâ€‹ â€‹listâ€‹ â€‹comprehensionâ€‹ â€‹withâ€‹ â€‹Nestedâ€‹ â€‹loops

In [102]:
#Suppose weâ€‹ â€‹needâ€‹ â€‹toâ€‹ â€‹multiplyâ€‹ â€‹nâ€‹ â€‹rangingâ€‹ â€‹fromâ€‹ â€‹1â€‹ â€‹toâ€‹ â€‹10â€‹ â€‹withâ€‹ â€‹firstâ€‹ â€‹1â€‹ â€‹thenâ€‹ â€‹2â€‹ â€‹andâ€‹ â€‹thenâ€‹ â€‹3.
list1=[]
for i in range(1,4):
    for j in range(1,11):
        list1.append(i*j)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [103]:
list1 = [i*j for i in range(1,4) for j in range(1,11) ]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Write a program to generate a dictionary that contains the key-value pairs i: i**2 where ' i ' is an integer number from 1 to n (both 1 and n included).

In [104]:
n = int(input("Enter a number "))
dictionary = { i:i**2 for i in range(1,n+1) }
print(dictionary)

Enter a number 10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [107]:
# an example of SET comprehensions
words = ['orange' ,'apple' ,'pineapple', 'lemon', 'lime']
first_letter_set = set(word[0] for word in words)
print(first_letter_set)

{'l', 'o', 'p', 'a'}

##### Functions

In [109]:
def scream():
    print('Hello World')
scream()

Hello World

In [112]:
def square(num):
    out = num**2
    return(out)
sq_2 = square(20)
print(sq_2)

400

In [114]:
def square(num):
    out = num**2
    print(out)

square(20)

400

In [118]:
# Important for exam to calculate factorial of number n!
def factorial(n):
    if n>1:
        return n*factorial(n-1)
    else:
        return n

fact = factorial(5)
print(fact)

120

In [119]:
def addition(*args):
    print(args)
    return(sum(args))

In [149]:
addition(1,2,3,4)

(1, 2, 3, 4)

10

In [154]:
# example of default in the function input parameter
def say(message, times = 1):
    print(message * times)

say('Hello')
say('World', 5)

Hello
WorldWorldWorldWorldWorld

In [155]:
#When you declare variables inside a function definition, they are not related in any way to other variables 
#with the same names used outside the function - i.e. variable names are local to the function. 
#This is called the scope of the variable. All variables have the scope of the block they are declared in
# starting from the point of definition of the name.
x = 50


def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)


func(x)
print('x is still', x)

x is 50
Changed local x to 2
x is still 50

In [157]:
x = 50

def func():
    global x

    print('x is', x)
    x = 2
    print('Changed global x to', x)


func()
print('Value of x is', x)

x is 50
Changed global x to 2
Value of x is 2

In [159]:
def func(a, b=5, c=10):
    print('a is', a, 'and b is', b, 'and c is', c)

func(3, 7)
func(25, c=24)
func(c=50, a=100)

a is 3 and b is 7 and c is 10
a is 25 and b is 5 and c is 24
a is 100 and b is 5 and c is 50

In [160]:
# single * is declared as tuple whereas phonebook is declared as dictionary
def total(a=5, *numbers, **phonebook):
    print('a', a)

    #iterate through all the items in tuple
    for single_item in numbers:
        print('single_item', single_item)

    #iterate through all the items in dictionary    
    for first_part, second_part in phonebook.items():
        print(first_part,second_part)

total(10,1,2,3,Jack=1123,John=2231,Inge=1560)

a 10
single_item 1
single_item 2
single_item 3
Jack 1123
John 2231
Inge 1560

##### LAMBDA FUNCTIONS

Lambda expressions are also another way of defining functions but with a difference. They aren't capable of multiple expressions and can only handle single expressions. The format of lambda statements is as follows:
function_name  = lambda <space>  input_parameters  :  output_parameters

Eg: join_by_comma = lambda x : ','.join(x)

In [151]:
#Important for exam to captialize the first char of word
def proper(some_text):
    some_text = some_text.strip()
    some_text = " ".join([word[0].upper() + word[1:] for word in some_text.split()])
    return some_text

captain = proper("mahendra singh dhoni")
print(captain)

Mahendra Singh Dhoni

In [152]:
string_to_list = lambda x: x.split()
print(string_to_list(captain))
print(type(string_to_list))

['Mahendra', 'Singh', 'Dhoni']
<class 'function'>

In [153]:
#A lambda function that multiplies argument a with argument b and print the result:
product = lambda x, y : x*y
print(product(3,4))

12

Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.
If x = 2 and y= 3, then the output should be 3.

In [147]:
greater = lambda x,y : x if x>y else y
print(greater(5,45))

45

In [161]:
#A lambda function that adds 10 to the number passed in as an argument, and print the result:
add_10 = lambda x :x+10
print(add_10(20))

30

##### Map Reduce Filter

r = map(func, seq)
- The first argument func is the name of a function and the second a sequence (e.g. a list) seq. map() applies the function func to all the elements of the sequence seq. It returns a new list with the elements changed by func

In [163]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = (36.5, 37, 37.5,39)

F = map(fahrenheit,temp)
C = map(celsius,temp)

print(F)
print(C)

<map object at 0x1071ab7f0>
<map object at 0x1071ab780>

In [165]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Farenheit = map(lambda x:(float(9)/5)*x + 32,Celsius)
Farenheit

In [166]:
first_list = [2, 4, 5]
print(map(lambda x: x**2, first_list))

<map object at 0x1071748d0>

In [167]:
first_list = [2,4,5]
print(list(map(lambda x: x**2, first_list)))

[4, 16, 25]

In [168]:
def squareit(n):
    return n**2
print(list(map(squareit, first_list)))

[4, 16, 25]

In [169]:
sums_list = [3,5,9,7]
sums_list2 = (4,5,6,7)
print(list(map(lambda x,y : x+y, sums_list,sums_list2)))

[7, 10, 15, 14]

In [170]:
list1=[1,2,3,4,5]
list2=[9,8,7,6,5]
print(list(map(lambda x,y:x*y,list1,list2)))

[9, 16, 21, 24, 25]

In [175]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla','watt','einstein']
proper = lambda x, y: x[0].upper()+x[1:] +' '+ y[0].upper()+y[1:]
print(list(map(proper, list_of_names,list_of_names2)))

['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [177]:
#Using the Map function, create a list 'cube', which consists of the cube of numbers in input_list.
#For e.g. if the input list is [5,6,4,8,9], the output should be [125, 216, 64, 512, 729].
input_list = [5,6,4,8,9]
cube_list = list(map(lambda x:x**3,input_list))
print(cube_list)

[125, 216, 64, 512, 729]

In [181]:
#Using the function Map, count the number of words that start with â€˜Sâ€™ in input_list.
input_list =['San Jose', 'San Francisco', 'Santa Fe', 'Houston']
cnt = 0
count = sum(map(lambda x:1 if x[0] == 'S' else 0,input_list ))
print(count)

3

In [209]:
input_list = [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
final_list = list(map(lambda x,y: x+" "+y,input_list[0],input_list[1]))
print(final_list)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [213]:
#Python program to count Even and Odd numbers in a List
input_list=[1,2,3,4,5,6,7,8,9]
odd_num = len(list(filter(lambda x: x%2==0,input_list)))
print(odd_num)

4

##### Filter
- filter(function,list)
- The function filter(function, list) offers an elegant way to filter out all the elements of a list, for which the function function returns True. 
- The function filter(f,l) needs a function f as its first argument. f returns a Boolean value, i.e. either True or False. This function will be applied to every element of the list l. Only if f returns True will the element of the list be included in the result list.

In [174]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = filter(lambda x: x%2 ==0, fib)
print(list(result))

[0, 2, 8, 34]

In [183]:
#Filter
divby3 = lambda x:  x % 3 == 0
my_list = [3,4,5,6,7,8,9]
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [185]:
#Extract a list of numbers that are multiples of 5 from a list of integers named input_list.
mul_fun = lambda x : x%5 ==0
input_list = [1,2,3,5,10,15,34,35,24,25]
final_list = list(filter(mul_fun,input_list))
print(final_list)

[5, 10, 15, 35, 25]

In [214]:
input_list =  ['hdjk', 'salsap', 'sherpa']
fil_fun = lambda x: x[0]=="s" and x[-1]=='p'
final_list = list(filter(fil_fun,input_list))
print(final_list)

['salsap']

In [219]:
#Given a list of strings, find all palindromes.
my_list = ["geeks", "geeg", "keek", "practice", "aa"] 
palindrome_list = list(filter(lambda x : x=="".join(reversed(x)),my_list))
print(palindrome_list)

['geeg', 'keek', 'aa']

##### Reduce

In [192]:
#Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
#If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.
from functools import reduce
input_list = ['I','Love','Python']
concat_op = reduce(lambda x,y:x+" "+y ,input_list)
print(concat_op)

I Love Python

In [194]:
#You are given a list of numbers such as input_list = [31, 63, 76, 89].
#Find and print the largest number in input_list using the reduce() function.
input_list = [31, 63, 76, 89,98]
largest_num = reduce(lambda x,y: x if x>y else y, input_list)
print(largest_num)

98

In [195]:
q  = reduce(lambda x, y: x+y, range(1,4))
print(q)

6

In [202]:
#factorial using reduce IMPORTANT FOR EXAM
input_num = int(input("Enter the number for factorial"))
fact = reduce(lambda x,y:x*y,range(1,input_num+1))
print(fact)

Enter the number for factorial1
1

In [207]:
from functools import reduce
  
fib = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]], 
                                 range(n-2), [0, 1]) 
  
print(fib(5))

[0, 1, 1, 2, 3]