In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

In [3]:
import pandas as pd
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')
marks.isnull().sum(axis=0)

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [4]:
#your method needs to be fixed 
marks.drop(marks.index[(marks.isnull().sum(axis=1)== 5)]).isnull().sum(axis=0)

Prefix         0
Assignment     0
Tutorial      10
Midterm       14
TakeHome       7
Final          3
dtype: int64

In [5]:
import pandas as pd
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')

marks = marks[(marks.isnull().sum(axis=1) < 5) | (marks.isnull().sum(axis=1) >5) ]
marks.isnull().sum(axis=0)

Prefix         0
Assignment     0
Tutorial      10
Midterm       14
TakeHome       7
Final          3
dtype: int64

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [6]:
#Read the data from the csv using the pandas
movies = pd.read_csv("Movie+Assignment+Data.csv")

#inspect data in the movies dataframe
movies

FileNotFoundError: File b'Movie+Assignment+Data.csv' does not exist

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [ ]:
# Write your code for inspection here

#print all the columns
print(movies.columns)

#print all the shape
print(movies.shape)

#print all the datatypes
print(movies.dtypes)

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [ ]:
# Write your code for column-wise null count here
# axis 0 is column ,but by default the sum operates on column
movies.isnull().sum(axis=0)

In [ ]:
# Write your code for row-wise null count here
# axis 1 is for Rows 
movies.isnull().sum(axis=1)

In [ ]:
# Write your code for column-wise null percentages here
# FYI Rounding is explicitly not mentioned ,hence not putting otherwise round(100*(movies.isnull().sum(axis=0)/len(movies.index)),2)
100*(movies.isnull().sum(axis=0)/len(movies.index))

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [ ]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 

#create a list of the columns to be dropped
columns_to_drop = ["color","director_facebook_likes","actor_1_facebook_likes","actor_2_facebook_likes","actor_3_facebook_likes","actor_2_name","cast_total_facebook_likes","actor_3_name","duration","facenumber_in_poster","content_rating","country","movie_imdb_link","aspect_ratio","plot_keywords"]

#Based on the column list ,drop the column from the dataframe
movies = movies.drop(columns_to_drop, axis=1)

#inspecting the dataframe after operation
movies

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [ ]:
# Write your code for dropping the rows here
#fetch all the column which has nulls percentage greater than 5% in list_of_columns
list_of_columns = movies.isnull().sum(axis=0)/len(movies.index)*100>5
list_of_columns = list_of_columns[list_of_columns[:,] == True]

#loop through all the columns and check for null values in the rows of that column 
for column in list_of_columns.index.values:
    movies = movies[~np.isnan(movies[column])]

#inspect the dataframe after removing data
  #Initially 5043 rows and after operation 3891 are left 
len(movies.index)

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [ ]:
# Write your code for dropping the rows here
movies = movies[movies.isnull().sum(axis=1) <= 5]

#inspect rows after operation of  deletion
   #Note no rows get deleted 
len(movies.index)

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [ ]:
# Write your code for filling the NaN values in the 'language' column here
# impute NaN with English 
  #before imputing only 3 records exist with NaN ,hence replaced them with English
movies["language"].fillna("English", inplace=True)

#find the number of NaN records post imputing
movies[movies["language"].isnull()]

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [ ]:
# Write your code for checking number of retained rows here
#Rounding is not mentioned in the task ,hence not applying the same
print(len(movies.index))
print((len(movies.index)/5043)*100)

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [ ]:
# Write your code for unit conversion here
movies['gross'] = movies['gross']/1000000
movies['budget'] = movies['budget']/1000000

#inspect column added after operations
movies

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [ ]:
# Write your code for creating the profit column here
movies['profit'] = movies['gross'] - movies['budget']

#inspect column added after operations
movies

In [ ]:
# Write your code for sorting the dataframe here
movies.sort_values(by=['profit'], ascending=False)

In [ ]:
# Write your code to get the top 10 profiting movies here
top10 = movies.sort_values(by=['profit'], ascending=False).iloc[:10,]

#inspect the dataframe
top10

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [ ]:
# Write your code for dropping duplicate values here
top10.drop_duplicates(keep = False, inplace = True) 
# The total records after removing the duplicates is 8 ,code used is 
len(top10.index)

In [ ]:
# Write code for repeating subtask 2 here
top10 = movies.sort_values(by=['profit'], ascending=False).iloc[:10,]
top10

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [ ]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'

#The new dataframe first is filtered on the num_voted_users and sorted by imdb_score and restricted till 250
IMDb_Top_250 = movies[movies['num_voted_users']>25000].sort_values(by=['imdb_score'], ascending=False).iloc[:250,]

#It is not clear ,on what basis we need to rank the dataset ,hence i assume imdb_score for that 
IMDb_Top_250['rank'] = IMDb_Top_250['imdb_score'].rank(method='dense',ascending=False).astype(int)

#inpect the dataset post operations 
IMDb_Top_250

In [ ]:
# Write your code to extract top foreign language films from 'IMDb_Top_250' here
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250['language']!="English"]

#Inspecting the dataset
Top_Foreign_Lang_Film

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [ ]:
# Write your code for extracting the top 10 directors here

# Grouping: First, we will group the dataframe by director_name
director_name_group = movies.groupby('director_name')

#fetch the top ten directory based on the imdb_score mean 
top10director = director_name_group['imdb_score'].mean().sort_values(ascending = False).iloc[:10,]

#Inspect the dataframe
top10director

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [ ]:
# Write your code for extracting the first two genres of each movie here
movies['genre_1'] = movies['genres'].str.split('|').str[0]
movies['genre_2'] = movies['genres'].str.split('|').str[1].fillna(movies['genre_1'], inplace=False)

#Inspecting the dataframe
movies

In [ ]:
# Write your code for grouping the dataframe here
movies_by_genre = movies.groupby(['genre_1', 'genre_2'])

In [ ]:
# Write your code for getting the 5 most popular combo of genres here
PopGenre = movies_by_genre['gross'].mean().sort_values(ascending = False).iloc[:5,]

#Inspecting the dataset
PopGenre

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [ ]:
# Write your code for creating three new dataframes here
# Include all movies in which Meryl_Streep is the lead
Meryl_Streep = movies[movies['actor_1_name']=='Meryl Streep']

#Inspecting the dataframe
Meryl_Streep

In [ ]:
# Include all movies in which Leo_Caprio is the lead
Leo_Caprio = movies[movies['actor_1_name']=='Leonardo DiCaprio']

#Inspecting the dataframe
Leo_Caprio

In [ ]:
# Include all movies in which Brad_Pitt is the lead
Brad_Pitt = movies[movies['actor_1_name']=='Brad Pitt']

#Inspecting the dataframe
Brad_Pitt

In [ ]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt], axis = 0)

#Inspecting the dataframe
Combined

In [ ]:
# Write your code for grouping the combined dataframe here
Combined_by_actor_name = Combined.groupby(['actor_1_name'])

In [ ]:
# Write the code for finding the mean of critic reviews and audience reviews here
Combined_by_actor_name[['num_critic_for_reviews', 'num_user_for_reviews']].mean().sort_values(by=['num_critic_for_reviews', 'num_user_for_reviews'],ascending = False)

**Checkpoint 6:** `Leonardo` has aced both the lists!